* {
    font-family: 'Raleway', sans-serif;
}

body {
    min-height: 100vh;
    max-width: 100%;
    padding: 5% 5%;
    background-color: rgb(64, 64, 64);
}

h1,
h5 {
    color: #9CDCFE;
    font-weight: 130%;
    padding: 10px;

}

hr {
    margin-top: 0;
    width: 90%;
}

p {
    color: white;
    font-size: small;
}

div {}

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.textarea-title {
    font-size: medium;
}


.container {
    border: 1px black solid;
    margin-top: 20px;
    max-width: 80%;
}

.row {
    display: block;
}

/*---------- Nav */

.navbar {
    margin-top: 10px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 2px;
}

.navbar-toggler {
    float: left;
    margin-right: 90%;
    height: 35px;
}

.navbar-nav ul {
    background-color: rgb(64, 64, 64);
}

.navbar-collapse {
    max-width: 30%;
}

/*---------- Nav End */

/*----------  Profile  */
.about-me-section {
    margin-top: 20px;
}

.aboutme-img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.aboutme-img img {
    height: 100%;
    max-height: 260px;
    max-width: 260px;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #1e1e1e;
}

.about-me-text {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgba(120, 120, 120, 0.4);
    height: auto;
    max-height: 60%;
    width: 70%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.about-me-text p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;

    color: white;
    text-align: justify;
}

.btn {
    background-color: #519aba;
    border-color: #519aba;
    margin-top: 15px;
}

.resume-btn {
    margin-left: auto;
    margin-right: auto;
}

.button-primary-override:hover,
.button-primary-override:active,
.button-primary-override:focus,
.button-primary-override:visited {
    background-color: #519aba !important;
    border-color: #519aba !important;
    background-image: none !important;
    border: 0 !important;
}

/*----------  Profile End */

/*----------  Work Exp. */
.work-experience-section {
    margin-left: auto;
    margin-right: auto;
}

.onClickTextOverImg {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: inline-block;
    border-radius: 16px;
    margin: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: center;
}

.onClickTextOverImg div {
    position: absolute;
    color: #519aba;
    padding: 8px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    padding-top: 35%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.onClickTextOverImg.show div {
    opacity: 1;
    padding-top: 40%;
    visibility: visible;
}

.work-experience-img {
    border: 1px solid rgba(120, 120, 120, 0.2);
}

.work-experience-img .teamwork {
    background-image: url("/images/teamwork.png");
    background-color: #519aba;
}

.work-experience-img .learn4fun {
    background-image: url("/images/learn4fun.jpeg");
}

.work-experience-img .voxpro {
    background-image: url("/images/teamwork.png");
}

.work-experience-img .mcdonalds {
    background-image: url("/images/mcdonalds.png");
}

.work-experience-img .eddies {
    background-image: url("/images/eddie_roclets_logo.png");
}

/*----------  Work Exp. End */


/*----------  Achievements */

.achievements-section {
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.achievements-section div {
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.achievement-icon {
    border: 1px dashed #519aba;
}

/*----------  Achievements End */

/*----------  Projects Description */
/*----------  Projects Description End */

/*----------  Project container*/
/*----------  Project container End */

/*----------  Footer */
footer {
    border: 1px solid black;
    color: red;

    margin-top: 15px;
    height: 75px;
    margin-bottom: 5;
}

/*----------  Footer End */